body {
    width: 100%;
    height: 100vh;
}

.bungeoppang_map_top {
    width: 100%;
    height: 7vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.bungeoppang_map_top .bungeoppang_map_top_title h1 {
    font-family: 'Song Myung', serif;
    font-size: 30px;
    margin-bottom: 3px;
}

.bungeoppang_map_main {
    width: 100%;
    height: 100%;
}


